:root {
    --white-color: #fff;
    --black-color: #140a00;
    --green-color: #00c850;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;
    --background-color: #f5f6f7;

    --middle-font: 15px;
    --semi-large-font: 17px;
    --large-font: 20px;

    --content-width: 465px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
button:focus {
    cursor: pointer;
}

body, button, input, a {
    font-family: Helvetica,Dotum,sans-serif;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto 10px auto;
}

header, section, footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
}

/* footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
} */

/* Header */
header #language {
    position: absolute;
    right: 0;
    width: 96px;
    height: 30px;
    padding: 4px 10px 4px 8px;
    font-size: 12px;
    background-color: var(--background-color);
    border-radius: 0;
    border: solid 1px var(--grey-light-color)
}

header .logo img {
    width: 236px;
    height: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
}

/* Main-Form */
.main form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main .form-login input {
    width: var(--content-width);
    height: 48px;
    font-size: var(--middle-font);
    padding-left: 10px;
    border-radius: 0;
    border: solid 1px var(--grey-light-color);
}

.main .form-login .loginBtn {
    height: 56px;
    font-size: var(--semi-large-font);
    color: var(--white-color);
    background-color: var(--green-color);
    border-radius: 0;
    border: solid 1px var(--green-color);
}

/* Main-LoginCheck */
.main .loginChk {
    width: var(--content-width);
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px var(--grey-light-color);
}

.main .loginChk > button {
    display: flex;
    align-items: center;
    margin-right: auto;  /* == justify-content: space-between; */
    border: none;
    background-color: var(--background-color);
    font-size: var(--middle-font);
    font-weight: lighter;
}

.main .loginChk i {
    font-size: 25px;
    color: var(--grey-dark-color);
    padding-right: 5px;
}

.main .loginChk .security a {
    font-size: var(--middle-font);
    font-weight: lighter;
}

.main .loginChk .security .ip {
    font-size: var(--semi-large-font);
    font-weight: 500;
}

.main .loginChk .security .on {
    border: none;
    font-size: var(--semi-large-font);
    font-weight: bolder;
    color: var(--green-color);
    background-color: var(--background-color);
}

/* Main-HandyLogin */
.main .handyLogin {
    width: var(--content-width);
}

.main .handyLogin p {
    text-align: center;
    font-size: var(--large-font);
    font-weight: bold;
    padding-top: 38px;
    padding-bottom: 20px;
}

.main .handyBtn {
    display: flex;
    justify-content: space-between;
}

.main .handyBtn .login {
    width: 49%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--semi-large-font);
    font-weight: bolder;
    background-color: var(--white-color);
    border: solid 1px var(--green-color);
}

.main .handyBtn .QR {
    font-weight: normal;
}

.main .handyBtn img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* Main-LoginGuide */
.main .guide {
    padding-top: 15px;
}

.main .guide a:link,
.main .guide a:visited,
.main .guide .bar {
    font-size: var(--middle-font);
    color: var(--grey-dark-color);
}

/* Advertisement */
.ad {
    margin-top: 45px;
    margin-bottom: 90px;
}

.ad img {
    width: var(--content-width);
    border: solid 1px var(--grey-light-color);
}

/* Footer-Index */
footer .index {
    display: flex;
    align-items: center;
}

footer .index a:link,
footer .index a:visited,
footer .index .bar {
    font-size: 12px;
    color: var(--black-color);
}

footer .index #second {
    font-weight: bolder;
}

/* Footer-Copyright */
footer .copyright {
    letter-spacing: 0.1em;
    font-size: 10px;
}

footer .copyright img {
    width: 60px;
    vertical-align: text-bottom;
}

footer .copyright #corp:link {
    font-weight: bolder;
    color: var(--black-color);
}

footer .copyright #corp:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: var(--green-color);
}